<ion-header>
  <ion-toolbar>
    <ion-title text-center>Registro de Ponto</ion-title>
    <img src="../../assets/img/logo-proced-svg.svg" alt="">
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-card id="login-card">
        <form [formGroup]="validaForm" (ngSubmit)="login()">
          <ion-list>
            <ion-item>
              <ion-label position="floating" color="primary">Usuário</ion-label>
              <ion-input type="text" formControlName="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" color="primary">Senha</ion-label>
              <ion-input type="password" formControlName="senha"></ion-input>
            </ion-item>
            <div padding>
              <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!validaForm.valid">
                Entrar
              </ion-button>
            </div>
          </ion-list>
        </form>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>