<ion-header>
  <ion-toolbar>
    <ion-title>
      Histórico
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher #refresherRef slot="fixed" (ionRefresh)="listaPontos($event)" >
        <ion-refresher-content>
        </ion-refresher-content>
      </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let ponto of pontos">
      {{momentjs.utc(ponto.data_ponto).format('DD/MM/YYYY HH:mm')}} - <ion-badge color="secondary"
        *ngIf="ponto.tipo == '1'">Entrada</ion-badge>
      <ion-badge color="danger" *ngIf="ponto.tipo == '2'">Saída</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>  