.welcome-card img {
  max-height: 39vh;
  overflow: hidden;
}

.expandir {
  zoom: 3.6;
  font-size: 14px;
  border-radius: 50px;
  --color: rgb(230, 230, 230);
  --box-shadow:  0px 0px 14px 5px rgb(13, 85, 145);
  --background: rgb(34, 34, 34) !important;
}

.container-botao{
    margin-top: 170%;
    padding-top: 40px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.logo_procedo{
  width: 150px;
  margin-top: 8px;
  margin-left: 18px;
}

ion-toolbar{
  --border-width: 1px;
  --background: rgb(22, 22, 22);
}
