
<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <img class="logo_procedo" src="../../assets/img/logo-proced-svg.svg" alt="" (click)="meClica()">
        </ion-col>
        <ion-col col-6>
          <ion-title text-end>
            <ion-button class="botao_menu" (click)="abreMenu($event)" size="large" fill="clear">
              <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
        <div class="container-botao">
          <ion-fab>
            <ion-fab-button class="expandir" (click)="registraPonto()">Ponto!</ion-fab-button>
          </ion-fab>
        </div>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer no-line>
  <ion-card class="welcome-card">
    <ion-grid>
      <ion-row>
        <ion-col col-12 align-self-center>
          <ion-item lines="none" text-center>
            <ion-label>Bem vindo, {{usuario}}!</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-footer>