<ion-header>
  <ion-toolbar>
    <ion-title>
      Configurações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h3>Notificações</h3>
  <ion-list-header>Notificação fixa
    <ion-button (click)='mostraAjuda(1)' size="small">
      <ion-icon slot="icon-only" name="help"></ion-icon>
    </ion-button>
  </ion-list-header>
  <form #user="ngForm" (ngSubmit)="configuraLembrete()">
    <ion-item lines="full">
      <ion-label>Ativar Nofiticação</ion-label>
        <ion-toggle slot="start" [(ngModel)]="notificacao" name="notificacao" color="success" checked></ion-toggle>
    </ion-item>

    <ion-list-header>Notificação Personalizada
      <ion-button (click)='mostraAjuda(2)' size="small">
        <ion-icon slot="icon-only" name="help"></ion-icon>
      </ion-button>
    </ion-list-header>

    <ion-item>
      <ion-select placeholder="Selecione" [(ngModel)]="lembretes" name="lembretes">
        <ion-select-option value="">Nenhum</ion-select-option>
        <ion-select-option value="1">1 minuto</ion-select-option>
        <ion-select-option value="5">5 minutos</ion-select-option>
      </ion-select>

    </ion-item>
    <ion-button type="submit" slot="end">
      Salvar
    </ion-button>
  </form>

</ion-content>