<ion-list >
  <ion-item lines="none" >
      <ion-button shape="round" fill="outline" expand="block" (click)="logout()" size="small" slot="end">
          Sair
          <ion-icon name="log-out"></ion-icon>
        </ion-button>  
  </ion-item>
  <ion-item lines="none" >
    <ion-button shape="round" fill="outline" expand="block" (click)="sincroniza()" size="small" slot="end"> 
        Sincronizar
        <ion-icon name="sync"></ion-icon>
      </ion-button>  
</ion-item>
</ion-list>